@model ResumeWebsite.Models.MainViewModels.Interface.IMainControllerViewModel
@{
    ViewData["Title"] = "Tappasarn Page";
}
<div class="card opal">
<div>
    <img class="align-center img-circle" src="@Url.Content(Model.PersonalInfo.ImgSrc)">
</div>
<div class="text-center">
    <div>
        <i class="material-icons md-36 info-padding">face</i>
    </div>
    <h1><b>@Model.PersonalInfo.FullName</b></h1>
    <div><b>Age :</b> @Model.PersonalInfo.Age</div>
    <div>@Model.PersonalInfo.Focus</div>
</div>
</div>

@foreach (var item in Model.OtherInfo){
    <div class="card dancer">
        <div>
            <i class="material-icons">@item.DisplayIcon</i>
            <span class="topic-text">@item.Topic</span>
        </div>
        @for (var i = 0; i < item.Header.Count; i++){
            <div><b>@item.Header[i] : </b>@item.Info[i]</div>
        }
    </div>
}